@import "tailwindcss";
@import "tw-animate-css";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  transition-property: opacity ,background, transform,filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  background: black;
  color: white;
}

.grid2 {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 350px);
  padding: 10px;
  justify-items: center;
}
@media (max-width:1024px) {
  .grid2{
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width:764px) {
  .grid2{
    grid-template-columns: repeat(2, 300px);
    padding: 5px;
  }
}
@media (max-width:404px) {
  .grid2{
    grid-template-columns: repeat(1, 300px);
  }
}
.card {

  border-radius: 10px;
  padding: 16px;
  color: white;
  cursor: pointer;

}
.input {
  @apply p-2 rounded-md bg-[#343434] text-white focus:outline-yellow-300;
}

.card.active {
  grid-column: span 2;
}
@media (max-width:404px) {
  .card{
    padding: 8px;
  }
}

@media (max-width:404px) {
  .card.active{
    grid-column: span 1;
  }
}
.page-transition{
  opacity: 0;
  background-color: black;
  transform: translateY(40px);
  filter: blur(12px);
}

/* From Uiverse.io by ErzenXz */ 
.toggle-switch {
  position: relative;
  width: 60px;     /* smaller */
  height: 30px;    /* smaller */
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 border:1px solid #dddddd33;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    background-image: url(/uk.svg);

}

/* Show UK flag when unchecked */
/* unchecked */
.toggle-switch input[type="checkbox"]:not(:checked) + .toggle-switch-background .toggle-switch-handle {
  background-image: url(/uk.svg);
}

/* checked */
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  background-image: url(/france.svg);
  transform: translateX(28px);
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px oklch(90.123% 0.181 97.86 / 0.775);

}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: oklch(87.9% 0.169 91.605);
  right: -15px;
}

.bg{
  filter: grayscale(100%);
  filter: brightness(86%);
  filter: contrast(85%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg:hover{
    filter: grayscale(0%);
  filter: brightness(100%);
  filter: contrast(100%);
}

.bg2{
  filter: grayscale(0%);
  filter: brightness(100%);
  filter: contrast(100%);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.loader2 {
  width: 30px;
  padding: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: black;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l32 1s infinite linear;
}
@keyframes l32 {to{transform: rotate(1turn)}}

/* Example for top row */
.timeline-line {
  position: absolute;
  width: 2px;
  height: calc(18vh); /* adjust to visually connect */
  top: 100%; /* start at bottom of card */
  left: 50%; /* horizontal center of card */
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.2);
}
